<app-main-nav></app-main-nav>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div *ngIf="loaded" class="container-fluid">
    <div class="row bg-title">
        <div class="col-9">
            <h4 class="page-title">Contest: {{contestAddress}}</h4>
        </div>
        <div class="col-3">
            <a *ngIf="currentAccountRole == 'SPONSOR' && sponsoring" 
            class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light" 
            data-bs-toggle="modal" data-bs-target="#rewardModal">Register Reward</a>
            <a *ngIf="currentAccountRole == 'SPONSOR' && !sponsoring" 
            class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light" 
            (click)="sponsor()">Sponsor this contest</a>
            <a *ngIf="currentAccountRole == 'STUDENT'" 
            class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light" 
            (click)="takeExam()">Take Exam</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="white-box">
                <h3 class="box-title">Total VNH Reward</h3>
                <ul class="list-inline two-part">
                    <li><i class="icon-user text-info"></i></li>
                    <li class="text-right"><span class="counter text-info" id="totalUsers">{{total}} VNH</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="white-box">
                <h3 class="box-title">Users</h3>
                <ul class="list-inline two-part">
                    <li><i class="fa fa-briefcase text-purple"></i></li>
                    <li class="text-left "><span class="counter text-purple">{{contestants.length}} STUDENTS</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="white-box">
                <h3 class="box-title">Total NFT rewards</h3>
                <ul class="list-inline two-part">
                    <li><i class="fa icon-dropbox text-success"></i></li>
                    <li class="text-right"><span class="counter text-success" id="totalBatch">{{nftRewardCount}} NFT</span></li>
                </ul>
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <a *ngIf="currentAccount == contestInfo.user.address" 
                class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light"
                data-bs-toggle="modal" data-bs-target="#registerModal">Register Student</a>
                <h3 class="box-title">Contestants list</h3> 
                <div class="table-responsive">
                    <table class="table product-overview" id="adminCultivationTable">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>FullName</th>
                                <th>Work Location</th>
                                <th>Date Of Birth</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let student of contestants">
                                    <td>{{student.address}}</td>
                                    <td>{{student.fullName}}</td>
                                    <td>{{student.workLocation}}</td>
                                    <td>{{formatDate(student.dateOfBirth)}}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <a *ngIf="currentAccount == contestInfo.user.address && !contestInfo.contestEnded" (click)="endContest()" 
                class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">End Contest</a>
                <h3 class="box-title">Results</h3> 
                <div class="table-responsive">
                    <table class="table product-overview" id="adminCultivationTable">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Grade</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let result of contestResults">
                                    <td>{{result.address}}</td>
                                    <td>{{result.grade}}</td>
                                    <td>{{result.time}}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Contest Factory Address <i class="fa fa-qrcode fa-2x text-danger"></i></h3>
                <ul class="list-inline two-part">
                    <li class="text-right" id="storageContractAddress">{{contestFactoryAddress}}</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Reward Address <i class="fa fa-qrcode fa-2x text-info"></i></h3>
                <ul class="list-inline two-part">
                    <li class="text-right" id="coffeeSupplychainContractAddress">{{rewardAddress}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" 
    aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="extendModalLabel">
					Register students <br> as contestants
				</h1>
			</div>
			<div class="modal-body">
				<form [formGroup]="registerModel" (ngSubmit)="register()" id="register">
					<div class="form-group">
                        <h3>Single Student</h3>
						<label for="address">Address</label>
						<input class="form-control" type="text" class="form-control" name="address" id="address" formControlName="address">
                        <h3>Multiple Students</h3>
                        <label for="file">Contestants list file</label>
						<input class="form-control" type="file" class="form-control" name="file" id="file" (input)="fileChosen($event)">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" form="register" data-dismiss="modal">
                    Confirm
                </button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="rewardModal" tabindex="-1" role="dialog" 
    aria-labelledby="rewardModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="extendModalLabel">
					Add reward to contest
				</h1>
			</div>
			<div class="modal-body">
				<form [formGroup]="rewardModel" (ngSubmit)="addReward()" id="reward">
					<div class="form-group">
						<label for="vnd">VND Token</label>
						<input class="form-control" type="number" class="form-control" name="vnd" id="vnd" formControlName="vnd">
					</div>
				</form>
                <div *ngFor="let item of counter(nftCount); let i = index" class="form-group">
                    <label class="control-label" for="farmerRegistrationNo">NFT ID<i class="red">*</i></label>
                    <select type="number" class="form-control" name="accountRole" id="accountRole" [(ngModel)]="nftRewards[i]" #id{{i}}="ngModel">
                        <option *ngFor="let nft of sponsorNFT" value={{nft.tokenId}}>{{nft.tokenId}}</option>
                    </select>
                    <div *ngIf="nftRewards[i] != undefined">
                        <span>NAME: {{nftInfo.get(nftRewards[i])?.name}}</span> <br>
                        <span>LINK: {{nftInfo.get(nftRewards[i])?.link}}</span> <br>
                        <span>VALUE: {{nftInfo.get(nftRewards[i])?.value}}</span> <br>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button (click)="removeNFT()" class="fcbtn btn btn-primary btn-outline btn-1f">Remove NFT</button>
                <button (click)="addNFT()" class="fcbtn btn btn-primary btn-outline btn-1f">Add NFT</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button (click)="addReward()" type="submit" class="btn btn-primary" form="reward" data-dismiss="modal">
                    Confirm
                </button>
			</div>
		</div>
	</div>
</div>