.navbar-brand {
    color: black;
    margin-left: 20px;
    font-size: xx-large;
}

a {
    color: black;
}

.ml-auto {
    position: absolute;
    right: 50px;
}

nav {
    width: 100%;
    border-bottom: 2px solid black;
}

.navbar-nav {
    font-size: large;
}