.navbar-brand {
    color: black;
    margin-left: 20px;
    font-size: xx-large;
}

a {
    color: black;
}

.ml-auto {
    position: absolute;
    right: 10px;
}

nav {
    width: 100%;
    border-bottom: 2px solid black;
}

.nav-link {
    margin-right: 100px;
}

.navbar-nav {
    font-size: x-large;
}