<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <a class="navbar-brand" routerLink="/home">
        EduChain
    </a>
    <ul *ngIf="currentAccountRole == 'TEACHER'" class="nav navbar-nav">
        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#courseModal">Create new course</a>
    </ul>
	<ul class="nav navbar-nav">
        <a class="nav-link" (click)="navigateToProfile()">Profile</a>
    </ul>
	<ul class="nav navbar-nav">
        <a class="nav-link" routerLink="/payment">Trade VND Token</a>
    </ul>
	<ul *ngIf="currentAccountRole == 'STUDENT'" class="nav navbar-nav">
        <a class="nav-link">Contest List</a>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <a class="nav-link" (click)="logOut()">Log Out</a>
    </ul>
</nav>

<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" 
    aria-labelledby="courseModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="extendModalLabel">
					Create a new course
				</h1>
			</div>
			<div class="modal-body">
				<form [formGroup]="courseModel" (ngSubmit)="createCourse()" id="course" enctype="multipart/form-data">
					<div class="form-group">
						<label for="title">Course Title</label>
						<input class="form-control" type="text" class="form-control" name="title" id="title" formControlName="title">
                        <label for="description">Description</label>
						<textarea class="form-control" type="text" class="form-control" name="description" id="description" formControlName="description">

                        </textarea>
                        <label for="week">Number of weeks</label>
						<input class="form-control" type="number" class="form-control" name="week" id="week" formControlName="week">
                        <label for="fee">Enroll Fee</label>
						<input class="form-control" type="number" class="form-control" name="fee" id="fee" formControlName="fee">
                        <label for="grade">Required minimum grade to pass</label>
						<input class="form-control" type="number" class="form-control" name="grade" id="grade" formControlName="grade">
                        <label for="reward">Token Reward</label>
						<input class="form-control" type="number" class="form-control" name="reward" id="reward" formControlName="reward">
                        <label for="image">Course Banner Image</label>
						<input class="form-control" type="file" class="form-control" name="image" id="image"
                        (input)="fileChosen($event)">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" form="course" data-dismiss="modal">
                    Confirm
                </button>
			</div>
		</div>
	</div>
</div>