<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<app-main-nav></app-main-nav>
<div style="height: auto;">
    <div class="wrapper">
      <div class="content-wrapper" style="min-height: 1416px;">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Course: {{courseInfo?.name}}</h1>
              </div>
            </div>
          </div>
        </section>
  
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
  
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
                      <img class="img-fluid img-square" [src]="courseImage" alt="Course picture">
                    </div>
  
                    <h3 class="profile-username text-center">{{courseInfo?.name}}</h3>
  
                    <ul class="list-group list-group-unbordered mb-3">
                      <li class="list-group-item">
                        <b>Weeks: </b> <a class="float-right">{{courseInfo?.week}}</a>
                      </li>
                      <li class="list-group-item">
                        <b>Teacher: </b> <a class="float-right">{{courseInfo?.user?.fullName}}</a>
                      </li>
                      <li class="list-group-item">
                        <b>Enroll fee: </b> <a class="float-right">{{courseInfo?.fee}}</a>
                      </li>
                      <li class="list-group-item">
                        <b>Reward: </b> <a class="float-right">{{courseInfo?.reward}}</a>
                      </li>
                      <li class="list-group-item">
                        <b>Required grade to pass: </b> <a class="float-right">{{courseInfo?.requiredAverageGrade}}</a>
                      </li>
                      <li class="list-group-item">
                        <b>Created date: </b> <a class="float-right">{{courseInfo?.createdAt}}</a>
                      </li>
                    </ul>
                    <div *ngIf="currentAccountRole == 'TEACHER'">
                        <button class="btn btn-primary btn-block"><b>Upload material</b></button>
                        <button class="btn btn-primary btn-block"
                        data-bs-toggle="modal" data-bs-target="#testModal"><b>Create test</b></button>
                    </div>
                    
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
  
                <!-- About Me Box -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">About</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <strong><i class="fa fa-book mr-1"></i> Description</strong>
  
                    <p class="text-muted">
                        {{courseInfo?.description}}
                    </p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
              <div class="col-md-9">
                <div *ngIf="enrollStatus;else unenroll" class="card">
                  <div class="card-header p-2">
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link active" href="#activity" data-bs-toggle="tab">Activity</a></li>
                      <li class="nav-item"><a class="nav-link" href="#users" data-bs-toggle="tab">Users</a></li>
                    </ul>
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="activity">
                        <div *ngFor="let item of weeks" class="row">
                            <h2>Week {{item}}</h2>
                        </div>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="users">
                        <!-- The timeline -->
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">Teacher</h3>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                              <thead>
                                <tr>
                                  <th>Address</th>
                                  <th>Full Name</th>
                                  <th>Email</th>
                                  <th>Work Location</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{courseInfo?.user?.address}}</td>
                                  <td>{{courseInfo?.user?.fullName}}</td>
                                  <td>{{courseInfo?.user?.email}}</td>
                                  <td>{{courseInfo?.user?.workLocation}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">Student</h3>
  
                            <div class="card-tools">
                              <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                                <div class="input-group-append">
                                  <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>Address</th>
                                  <th>Full Name</th>
                                  <th>Email</th>
                                  <th>School</th>
                                  <th>Date Of Birth</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>student.address</td>
                                  <td>student.fullName</td>
                                  <td>student.email</td>
                                  <td>student.workLocation</td>
                                  <td>formatDate(student.dateOfBirth)</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.card-body -->
                          <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                              <li class="page-item"><a class="page-link" href="#">«</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">»</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- /.tab-pane -->
                      <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <ng-template #unenroll>
                    <div class="card center">
                        <h1 sytle="margin-top: 20px">Enroll course to see content</h1>
                        <button class="btn btn-primary btn-block btn-center" 
                        style="width: 30%;font-size: large; font-weight: bold;margin-bottom: 20px;"
                        (click)=enroll()>ENROLL NOW</button>
                    </div>
                </ng-template>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </section>
      </div>
    </div>
</div>
  
<div class="modal fade" id="testModal" tabindex="-1" role="dialog" 
    aria-labelledby="testModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="extendModalLabel">
					Create test
				</h1>
			</div>
			<div class="modal-body">
				<form [formGroup]="testModel" (ngSubmit)="createTest()" id="test">
					<div class="form-group">
						<label for="title">Test title</label>
						<input class="form-control" type="text" class="form-control" name="title" id="title" formControlName="title">
                        <label for="description">Description</label>
						<textarea class="form-control" type="text" class="form-control" name="description" id="description" formControlName="description">
                        </textarea>
                        <label for="week">Week</label>
						<input class="form-control" type="number" class="form-control" name="week" id="week" formControlName="week">
                        <label for="file">Questions file</label>
						<input class="form-control" type="file" class="form-control" name="file" id="file" (input)="fileChosen($event)">
					</div>
				</form>
                <div *ngFor="let item of questions; let i = index">
					<h5>{{i + 1}}. {{item}}</h5>
                    <div *ngFor="let choice of choices[i].split(';'); let j = index">
                        <p style="display: inline">{{"ABCD"[j]}}. {{choice}}</p>
                        <p style="display: inline" *ngIf="answer[i] == 'ABCD'[j]"> (Correct answer)</p>
                    </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" form="test" data-dismiss="modal">
                    Confirm
                </button>
			</div>
		</div>
	</div>
</div>