<app-main-nav></app-main-nav>
<div *ngIf="loaded" class="container-fluid">
    <div class="row">
        <div class="col-8 center">
            <img [ngClass]="{'revokedImg': revoked.isRevoked}" style="width: 100%" src="../../assets/certificate_3.png">
            <div *ngIf="!revoked.isRevoked; else revokedTag">
                <h1 class="course">{{certificate.course.name}}</h1>
                <h1 class="name">{{certificate.user.fullName}}</h1>
            </div>
            <ng-template #revokedTag>
                <h1 class="course white">THIS CERTIFICATE IS REVOKED</h1>
                <h2 class="name white small">Reason: {{revoked.reason}}</h2>
            </ng-template>
        </div>
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item"><b>Recipient Full Name:</b><br>{{certificate.user.fullName}}</li>
                <li class="list-group-item"><b>Course:</b><br>{{certificate.course.name}}</li>
                <li class="list-group-item"><b>Grade:</b><br>{{certificate.grade}}</li>
              </ul>
        </div>
    </div>
</div>