<app-main-nav></app-main-nav>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div *ngIf="loaded" class="container-fluid">
    <div class="row bg-title">
        <div class="col-10">
            <h4 class="page-title">Profile: {{currentAccount}}</h4>
        </div>
        <div class="col-2">
            <a (click)="followUser()" class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Follow this user</a>
        </div>
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 col-sm-6 ">
            <div class="white-box">
                <h3 class="box-title">ETH Balance</h3>
                <ul class="list-inline two-part">
                    <li><i class="icon-user text-info"></i></li>
                    <li class="text-right"><span class="counter text-info" id="totalUsers">{{eth}} ETH</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="white-box">
                <h3 class="box-title">SKILL TOKEN Balance</h3>
                <ul class="list-inline two-part">
                    <li><i class="fa fa-briefcase text-purple"></i></li>
                    <li class="text-right "><span class="counter text-purple">{{skill}} SKILL</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="white-box">
                <h3 class="box-title">VND TOKEN Balance</h3>
                <ul class="list-inline two-part">
                    <li><i class="fa icon-dropbox text-success"></i></li>
                    <li class="text-right"><span class="counter text-success" id="totalBatch">{{vnd}} VND</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <a *ngIf="currentAccountRole != 'STUDENT' && currentAccount == profileAddress" 
                class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light"
                data-bs-toggle="modal" data-bs-target="#nftModal">Create NFT</a>
                <h3 class="box-title">Your NFT</h3> 
                <div class="table-responsive">
                    <table class="table product-overview" id="adminCultivationTable">
                        <thead>
                            <tr>
                                <th>Token ID</th>
                                <th>Name</th>
                                <th>Link</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let token of nft">
                                    <td>{{token.tokenId}}</td>
                                    <td>{{token.uri.split(";")[0]}}</td>
                                    <td>{{token.uri.split(";")[1]}}</td>
                                    <td>{{token.uri.split(";")[2]}}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <a *ngIf="currentAccountRole != 'STUDENT'" class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light" 
                data-bs-toggle="modal" data-bs-target="#rewardModal">Create Reward</a>
                <h3 class="box-title">Current Study Rewards</h3> 
                <div class="table-responsive">
                    <table class="table product-overview" id="adminCultivationTable">
                        <thead>
                            <tr>
                                <th>Parent Address</th>
                                <th>Minimum SKILL Required</th>
                                <th>VND Reward</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let reward of rewards">
                                    <td>{{reward.sponsorAddress}}</td>
                                    <td>{{reward.minimumKNGRequired}}</td>
                                    <td>{{reward.vnhTokenReward}}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Contest Factory Address <i class="fa fa-qrcode fa-2x text-danger"></i></h3>
                <ul class="list-inline two-part">
                    <li class="text-right" id="storageContractAddress">{{contestAddress}}</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Reward Address <i class="fa fa-qrcode fa-2x text-info"></i></h3>
                <ul class="list-inline two-part">
                    <li class="text-right" id="coffeeSupplychainContractAddress">{{rewardAddress}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rewardModal" tabindex="-1" role="dialog" 
    aria-labelledby="rewardModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="extendModalLabel">
					Create Reward
				</h1>
			</div>
			<div class="modal-body">
				<form [formGroup]="rewardModel" (ngSubmit)="createReward()" id="reward">
					<div class="form-group">
						<label for="skill">Minimum SKILL Token Required</label>
						<input class="form-control" type="number" class="form-control" name="skill" id="skill" formControlName="skill">
                        <label for="vnd">VND Reward</label>
						<input class="form-control" type="text" class="form-control" name="vnd" id="vnd" formControlName="vnd">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" (click)="createReward()" form="reward">
                    Confirm
                </button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="nftModal" tabindex="-1" role="dialog" 
    aria-labelledby="nftModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="extendModalLabel">
					Create Reward
				</h1>
			</div>
			<div class="modal-body">
				<form [formGroup]="nftModel" (ngSubmit)="createNFT()" id="nft">
					<div class="form-group">
						<label for="name">Product Name</label>
						<input class="form-control" type="text" class="form-control" name="name" id="name" formControlName="name">
                        <label for="link">Product E-commerce Link</label>
						<input class="form-control" type="text" class="form-control" name="link" id="link" formControlName="link">
                        <label for="value">Value (VND)</label>
						<input class="form-control" type="number" class="form-control" name="value" id="value" formControlName="value">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" form="nft">
                    Confirm
                </button>
			</div>
		</div>
	</div>
</div>