<app-main-nav></app-main-nav>
<div class="flex-container">
    <div *ngIf="currentAccountRole != 'PARENT' && currentAccountRole != 'SPONSOR'">
        <h3 class="display-4">{{title}}</h3>
        <div class="row">
            <div *ngFor="let course of courses" class="col-4">
                <a (click)="navigateToCourse(course.courseID)">
                    <div class="card grow">
                        <img class="card-img-top" [src]="course.image" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{course.name}}</h5>
                        <p class="card-text">{{course.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="currentAccountRole == 'STUDENT'">
        <h3 class="display-4">{{secondTitle}}</h3>
        <div class="row">
            <div *ngFor="let course of unenrolledCourses" class="col-4">
                <a (click)="navigateToCourse(course.courseID)">
                    <div class="card grow">
                        <img class="card-img-top" [src]="course.image" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{course.name}}</h5>
                        <p class="card-text">{{course.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="currentAccountRole == 'PARENT' || currentAccountRole == 'SPONSOR'">
        <div class="row">
            <div class="col center">
                      <label style="font-weight: bold;display: inline;" for="address" class="sr-only">Search Student: </label>
                      <input style="width: 50%; display: inline;margin: 20px;" 
                      type="text" class="form-control" id="address" [(ngModel)]="searchAddress">
                <button type="submit" class="btn btn-primary" (click)="goToProfile()">Search</button>
            </div>
        </div>
        <h3 class="display-4">{{secondTitle}}</h3>
        <div class="row">
            <div *ngFor="let student of followedStudent" class="col-4">
                <a (click)="navigateToProfile(student.address)">
                    <div class="card grow">
                        <div class="card-body">
                        <h5 class="card-title">{{student.fullName}}</h5>
                        <p class="card-text">{{student.workLocation}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
